html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

#container {
    display: grid;
    grid-template-rows: 80px 1fr 50px;
    min-height: 100vh;
}

header {
    display: flex;
    box-sizing: border-box;
    padding-left: 30px;
    gap: 30px;
    background-color: lightblue;
    border-bottom: 3px solid lightsteelblue;
    align-items: center;
}

#arrow {
    border: solid black;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 5px;
    background: transparent;
    cursor: pointer;
}

.down {
    transform: rotate(45deg);
}

.right {
    transform: rotate(-45deg);
}


main {
    display: flex;
}

#sidebar {
    background-color: rgb(240, 240, 240);
    padding: 30px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 60px;
}

#sidebar>.tabs-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tabs-wrapper>.tab {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 5px;
    gap: 20px;
    background-color: white;
    border-radius: 10px;
    border: 3px solid whitesmoke;
}

.tabs-wrapper>.tab>img {
    height: 50px;
}

.tab:hover {
    cursor: pointer;
    border: 3px solid lightsteelblue !important;
}

.tab.selected {
    background-color: lightblue !important;
    border: 3px solid lightsteelblue !important;
}

#sidebar>.projects {
    display: flex;
    flex-direction: column;
}

#sidebar>.projects>.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.projects>.header>div {
    display: flex;
    align-items: center;
}

.projects button,
#newTaskBtn,
.taskButtons button {
    border: none;
    appearance: none;
    background-color: inherit;
}

.editProject>img,
.deleteProject>img {
    height: 20px;
}

.projects button:hover,
#newTaskBtn:hover,
#taskDialog button:hover,
.taskButtons button:hover,
footer>a>img:hover {
    cursor: pointer;
    transition: all ease-in-out;
    transform: scale(1.2);
}

button.tooltip>img {
    height: 30px;
}

.tooltip {
    position: relative;
}

.tooltip::before {
    background-color: white;
    border: 2px solid lightsteelblue;
    border-radius: 5px;
    width: 100px;
    content: attr(data-title);
    visibility: hidden;
    font-family: 'Courier New', Courier, monospace;
    padding: 3px;
    position: absolute;
    bottom: 110%;
    right: 0;
    z-index: 1;
}

.tooltip::after {
    position: absolute;
    left: 50%;
    bottom: 80%;
    margin-left: -6px;
    border: 6px solid;
    border-color: lightsteelblue transparent transparent transparent;
    content: "";
    visibility: hidden;
}

.tooltip:hover::before,
.tooltip:hover::after {
    visibility: visible;
}

dialog {
    width: 300px;
    min-height: 200px;
    border: 5px solid lightsteelblue;
    border-radius: 5px;
    padding: 0;
}

dialog>.wrapper>.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-bottom: 3px solid;
    border-color: lightsteelblue;
    background-color: lightblue;
}

#projectDialog>.wrapper>.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}

#projectTitle,
#taskTitle {
    padding: 5px;
}

dialog>.wrapper>.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 25px;
    gap: 20px;
    height: 50px;
    border-top: 3px solid;
    border-color: lightsteelblue;
    background-color: lightblue;
}

dialog>.wrapper>.footer>button {
    border: 3px solid lightsteelblue;
    border-radius: 10px;
    height: 30px;
}

#projectConfirm,
#taskConfirm {
    background-color: greenyellow;
}

#projectCancel,
#taskCancel {
    background-color: rgb(255, 130, 130);
}

#newProjects {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#newProjects>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding-left: 10px;
    border-radius: 10px;
    border: 3px solid whitesmoke;
    box-sizing: border-box;
}

#content {
    width: 100%;
    padding: 30px;
}

#content>.wrapper {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#content>.wrapper>.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#content>.wrapper>.header>img {
    height: 50px;
}

#tasksHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 1px solid lightsteelblue;
}

#tasksHeader>div {
    display: flex;
    align-items: center;
}

#newTaskBtn>img {
    height: 30px;
}

#content>.wrapper>.main {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#newTasks {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 20px;
}

#newTasks>.task {
    border-radius: 10px;
    padding: 0 10px;
    height: 40px;
    background-color: rgb(240, 240, 240);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.completed {
    text-decoration: line-through solid black;
}

.taskH3.completed::before {
    position: absolute;
    left: -30px;
    bottom: -10px;
    content: '\2713';
    color: inherit;
    font-size: 3rem;
}

#newTasks>.task:hover {
    cursor: pointer;
}


.priorityLow {
    color: green;
}

.priorityMedium {
    color: goldenrod;
}

.priorityHigh {
    color: red;
}

.taskDetails {
    display: flex;
    align-items: center;
    gap: 20px;
}

.taskButtons {
    display: flex;
    align-items: center;
}

.taskButtons>button {
    display: flex;
}

.taskButtons>button>img {
    height: 20px;
}

#taskDialog {
    width: 300px;
    min-height: 400px;
    border: 5px solid lightsteelblue;
    border-radius: 5px;
    padding: 0;
}

ul,
li {
    list-style: none;
}

#taskDialog>.wrapper>.main {
    display: flex;
    min-height: 300px;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

li {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none !important;
}

footer {
    background-color: lightblue;
    border-top: 3px solid lightsteelblue;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    gap: 10px;
}

footer>a>img {
    height: 25px;
}

@media screen and (max-width: 600px) {
    #sidebar {
        position: fixed;
        z-index: 1;
        height: 82.5%;
        overflow: auto;
    }

    #newTasks>.task {
        flex-direction: column;
        height: initial;
        min-height: 40px;
    }

    .taskH3.completed::before {
        top: 0px;
    }

}