html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

header {
    display: flex;
    box-sizing: border-box;
    padding-left: 30px;
    gap: 30px;
    background-color: lightblue;
    border-bottom: 3px solid lightsteelblue;
    align-items: center;
}

#arrow {
    border: solid black;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 5px;
    background: transparent;
    cursor: pointer;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}


main {
    display: flex;
    height: 100%;
}

.hide-sidebar>#sidebar {
    display: none;
}

#sidebar {
    background-color: rgb(240, 240, 240);
    padding: 30px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 60px;
}

#sidebar>.tabs-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.tabs-wrapper>.tab {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 5px;
    gap: 20px;
    background-color: white;
    border-radius: 10px;
    border: 3px solid whitesmoke;
}

.tabs-wrapper>.tab>img {
    height: 50px;
}

.tab:hover {
    cursor: pointer;
    border: 3px solid lightsteelblue !important;
}

.tab.selected {
    background-color: lightblue !important;
    border: 3px solid lightsteelblue !important;
}

#sidebar>.projects {
    display: flex;
    flex-direction: column;
}

#sidebar>.projects>.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.projects button {
    border: none;
    appearance: none;
    background-color: inherit;
}

.projects button>img {
    height: 20px;
}

.projects button:hover {
    cursor: pointer;
    transition: all ease-in-out;
    transform: scale(1.2);
}

button.tooltip>img {
    height: 30px;
}

.tooltip {
    position: relative;
}

.tooltip::before {
    background-color: white;
    border: 2px solid lightsteelblue;
    border-radius: 5px;
    width: 100px;
    content: attr(data-title);
    visibility: hidden;
    font-family: 'Courier New', Courier, monospace;
    padding: 3px;
    position: absolute;
    bottom: 115%;
    right: 0;
    z-index: 1;
}

.tooltip::after {
    position: absolute;
    left: 50%;
    bottom: 85%;
    margin-left: -6px;
    border: 6px solid;
    border-color: lightsteelblue transparent transparent transparent;
    content: "";
    visibility: hidden;
}

.tooltip:hover::before,
.tooltip:hover::after {
    visibility: visible;
}

#dialog {
    width: 300px;
    height: 200px;
    border: 5px solid lightsteelblue;
    border-radius: 5px;
    padding: 0;
}

#dialog>.wrapper>.header {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 50px;
    border-bottom: 3px solid;
    border-color: lightsteelblue;
    background-color: lightblue;
}

#dialog>.wrapper>.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

#dialog>.wrapper>.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    padding-right: 25px;
    gap: 20px;
    height: 50px;
    border-top: 3px solid;
    border-color: lightsteelblue;
    background-color: lightblue;
}

#dialog>.wrapper>.footer>button {
    border: 3px solid lightsteelblue;
    border-radius: 10px;
    height: 30px;
}

#addProject {
    background-color: greenyellow;
}

#cancelProject {
    background-color: rgb(255, 130, 130);
}

#new-projects {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#new-projects>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding-left: 10px;
    border-radius: 10px;
    border: 3px solid whitesmoke;
    box-sizing: border-box;
}

#content {
    width: 100%
}

footer {
    background-color: lightblue;
    border-top: 3px solid lightsteelblue;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    gap: 10px;
}

footer>a>img {
    height: 25px;
}

footer>a>img:hover {
    transition: all ease-in-out;
    transform: scale(1.2);
}

@media screen and (max-width: 600px) {
    #sidebar {
        position: fixed;
        z-index: 1;
        height: 81.7%;
    }
}